body{
    font-family: 'Libre Franklin', sans-serif;
}
h3{
    font-family: 'Gothic A1', sans-serif;
    color: rgb(118, 165, 149);
    font-size: 60px;
}
hr{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(97, 95, 95, 0.75), rgba(0, 0, 0, 0));
}
span{
    padding-right: 10px;
    padding-top: 10px;
}
.article{
    margin-right: 55px;
    margin-left: 55px;
    margin-top: -70px;
}
.card-img{
    border-radius: 0px;
    height: 400px;
}
.nav{
    background-color: #F4F9F4;
}
.nav-link{
color: #74B49B;
}
.rounded-circle{
    height: 220px;
    width: 220px;
    position: absolute;
    z-index: 1;
    margin-top: -475px;
    margin-left: 450px;
}
footer{
    background-color: rgb(65, 87, 78);
    color: lightgray;
    margin-top: 50px;
    height: 88px;
}